<form [formGroup]="form">
    <div class="form-group">
        <label for="Username" >Username</label>        
        <input  
        id="Username"  
        name="Username" 
        type="text"
        formControlName="userName"  
        class="form-control">    
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="remark" formControlName="pasword" id="remark"  required class="form-control">
    </div>             
    <br>
    <button class="btn btn-primary" > Sin up</button>
</form>>